.itc-popup-character-list {
  padding: 10px;
  overflow-y: auto;
  max-height: 400px; /* adjust this value to set the maximum height of the character list */
}

.itc-popup-character-card {
  background-color: #000;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itc-popup-character-name {
  font-weight: bold;
  font-size: 18px;
}

.itc-popup-character-hp {
  font-size: 16px;
}

.itc-popup-character-ac {
  font-size: 16px;
}

.itc-popup-view-attacks-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.character-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.itc-popup-character-initiative-modifier {
  font-size: 16px;
}

.itc-popup-character-checkbox {
  margin-right: 10px;
}

.roll-initiative {
  display: flex;
  align-items: center;
}

.roll-initiative-checkbox {
  margin-right: 10px;
}

.roll-initiative-value {
  width: 50px;
  margin-left: 10px;
}

.itc-popup-add-character-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.itc-popup-add-character-button:hover {
  background-color: #3e8e41;
}