.it-popup {
  position: fixed;
  top: 50px; /* Move the popup down by 50px */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.it-popup-content {
  position: relative;
  background-color: #666;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  width: 50%;
  margin: 40px auto;
  color: #fff;
  text-align: center; /* Center the text */
}

.it-popup button {
  background-color: #34C759; /* Green color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block; /* Make buttons inline-block elements to put them beside each other */
  margin: 0 10px; /* Add some margin between the buttons */
}

.it-popup button:hover {
  background-color: #2E865F; /* Darker green color on hover */
}

.it-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.it-popup label {
  display: block;
  margin-bottom: 10px;
}

.it-popup input[type="text"], .it-popup input[type="number"] {
  width: auto; /* or some other value that suits your needs */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 10px;
}

#character-list {
  display: flex;
  flex-wrap: wrap;
}

#character-list label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

#character-list input[type="checkbox"] {
  margin-right: 10px;
}




.it-popup-attacks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.it-popup-attack-card {
  background-color: #333;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.it-popup-attack-card:hover {
  background-color: #444;
}

.it-popup-attack-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.it-popup-attack-info {
  font-size: 14px;
  color: #ccc;
}