.uo-display {
    margin-left: 15%;
    text-align: left;
    background-color: #222;
    color: #eee;
    margin-top: 70px;
}

.uo-display form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.uo-display span {
    display: block;
    margin-bottom: 10px;
}

.uo-display label {
    display: block;
    margin-bottom: 5px;
}

.uo-display input[type="text"], .uo-display input[type="number"] {
    width: 200px; /* make the input boxes smaller */
    height: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.uo-display button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #339933; /* green buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uo-display button[type="submit"]:hover {
    background-color: #206620; /* slightly darker green on hover */
}



#edit-button {
    background-color: #339933; /* green button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

#save-button, #cancel-button {
    display: none; /* hide save and cancel buttons initially */
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-button {
    background-color: #0000ff; /* blue button */
    color: #fff;
}

#cancel-button {
    background-color: #ff0000; /* red button */
    color: #fff;
}

.uo-display .character-card {
    width: 90%;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Add this line to add spacing between cards */
    border: 2px solid #33cc33; /* Add this line to add a light green border */
}   

.uo-display .character-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.uo-display .character-header h3 {
    margin: 0;
}

.uo-display .character-header p {
    margin: 0;
}

.uo-display hr {
    border: none;
    border-top: 1px solid #444;
    margin: 10px 0;
}

.uo-display .character-info {
    display: flex;
    flex-wrap: wrap;
}

.uo-display .character-info p {
    width: 33.33%;
    margin: 0;
}

.uo-display #edit-button, .uo-display #save-button, .uo-display #cancel-button {
    margin-bottom: 20px;
}

.uo-display .character-image {
    width: 100px;
    height: 100px;
    border: 2px solid #ff0000; /* Red border */
    float: left;
    margin-right: 20px;
}
