.uo-display {
    margin-left: 15%;
    text-align: left;
    background-color: #222;
    color: #eee;
    margin-top: 70px;
}

.uo-display form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.uo-display span {
    display: block;
    margin-bottom: 10px;
}

.uo-display label {
    display: block;
    margin-bottom: 5px;
}

.uo-display input[type="text"], .uo-display input[type="number"] {
    width: 200px; /* make the input boxes smaller */
    height: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 8%; /* updated width */
    height: 40px;
    background-color: #339933; /* green buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px; /* add some space above the submit button */
}

.submit-button:hover {
    background-color: #206620; /* slightly darker green on hover */
}



#edit-button {
    background-color: #339933; /* green button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 6%; /* set width to 20% of the parent element's width */
    height: 40px;
    font-size: 16px;
}

#save-button, #cancel-button {
    display: none; /* hide save and cancel buttons initially */
    width: 6%; /* set width to 20% of the parent element's width */
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-button {
    background-color: #0000ff; /* blue button */
    color: #fff;
}

#cancel-button {
    background-color: #ff0000; /* red button */
    color: #fff;
}

.uo-display .character-card {
    width: 90%;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Add this line to add spacing between cards */
    border: 2px solid #33cc33; /* Add this line to add a light green border */
    position: relative;
}   

.uo-display .character-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.uo-display .character-header h3 {
    margin: 0;
}

.uo-display .character-header p {
    margin: 0;
}

.uo-display hr {
    border: none;
    border-top: 1px solid #444;
    margin: 10px 0;
}

.uo-display .character-info {
    display: flex;
    flex-wrap: wrap;
}

.uo-display .character-info p {
    width: 33.33%;
    margin: 0;
}

.uo-display #edit-button, .uo-display #save-button, .uo-display #cancel-button {
    margin-bottom: 20px;
}

.uo-display .character-image {
    width: 100px;
    height: 100px;
    border: 2px solid #ff0000; /* Red border */
    float: left;
    margin-right: 20px;
}

#loading-indicator {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}

[contenteditable] {
  border: 1px solid #444; /* a dark grey border */
  padding: 2px;
}

[contenteditable]:focus {
  background-color: #333; /* a dark grey background */
  color: #587d2d; /* a muted green text color */
  outline: none; /* remove the default focus outline */
  box-shadow: 0 0 2px #8bc34a; /* add a subtle green glow */
}

.edited {
  background-color: #333; /* a dark grey background */
  color: #8bc34a; /* a muted green text color */
  outline: none; /* remove the default focus outline */
  box-shadow: 0 0 2px #8bc34a; /* add a subtle green glow */
}

.delete-button {
    position: absolute;
    top: 10px;
    right: -40px; /* Move the button to the left */
    background-color: red;
    color: white;
    border: 2px solid black; /* Reduce the border width */
    padding: 10px; /* set padding to 10 pixels */
    font-size: 20px; /* Reduce the font size */
    cursor: pointer;
}

#confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333; /* Update the background color */
  padding: 20px;
  border: 2px solid #33cc33; /* Update the border */
  border-radius: 10px; /* Add a border radius */
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#confirmation-popup p {
  margin-bottom: 10px;
  color: #eee; /* Update the text color */
}

#confirmation-popup button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#confirm-delete-button {
  background-color: #ff0000; /* Red button */
  color: #fff;
}

#cancel-delete-button {
  background-color: #339933; /* Green button */
  color: #fff;
}